body {
  background-color:#191b24;
  margin: 300px auto 300px auto;
  }

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
 color: #FFFFFF;
 padding-left: 20px;
}


